<h1><%= @mytime %></h1>
<p>Currently this Sudoku game only supports 3*3</p>

<%= button_to "Click me to initialize the game", sudoku_init_path, method: :post %>
<%=link_to 'Are you ready? YES!!!', numbers_path %>